*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
nav ul {
   display: flex;
  li{
    a {
      font-size: 20px;
      font-weight: bold;
      color: #556581;
      display: inline-block;
      padding:10px 20px;
      border-radius: 4px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
 }

.send-invite-btn {
  background-color: rgb(251, 80, 0);
  padding: 16px 15px;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  width: 100%;
  border: 0;
  outline: none;
  box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: rgb(255, 97, 24);
  }

  &:active {
    transform: translateY(2px);
    box-shadow: none;
  }
}